button {
    height: 100px;
    width: 80px;
    margin: 2px;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.calculator {
    border: 2px solid black;
}

.fifthRow button {
    width: 344px;
}
.displayResult {
    width: 344px;
    height: 80px;
    margin: 2px;
    text-align: end;
    background-color: lightgrey;
}
h3 {
    margin: 5px;
}